<%- include("partials/header"); -%>
<%- include("partials/navigation-" + role); -%>

<div class="jumbotron jumbotron2 mb-0">
    <div class="dark-container p-5">
        <h2 class="text-center text-light display-4">Account</h2>


        <div class="text-center ml-auto mr-auto">
            <form action="/account-update?userId=<%=user._id%>" method="post">
                <h6 class="error"><%=error%></h6>
                <div class="row form-group">
                    <div class="col-6 text-left">
                        <label>First Name: </label>
                        <input class="form-control" name="firstName" value="<%=user.firstName%>" type="text" />
                    </div>
                    <div class="col-6 text-left">
                        <label>Last Name: </label>
                        <input class="form-control" name="lastName" value="<%=user.lastName%>" type="text" />
                    </div>
                </div>
                <div class="form-group text-left">
                    <label>Telegram: </label>
                    <input class="form-control" name="telegram" value="<%=user.telegram%>" type="text" />
                </div>
                <div class="form-group text-left">
                    <label>Username: </label>
                    <input class="form-control" name="username" value="<%=user.username%>" type="text" />
                </div>
                <div class="form-group text-left">
                    <label>Password: </label>
                    <input class="form-control" name="password" value="<%=user.password%>" type="text" />
                </div>
                <% if(role === "admin") {%>
                <div class="form-group text-left">
                    <label>Role: </label>
                    <input class="form-control" name="role" value="<%=user.role%>" type="text" />
                </div>
                <% } %>
                <div class="form-group">
                    <button class="btn btn-md btn-outline-light" name="update" type="submit">Confirm</button>
                </div>
            </form>
            <% if(role === "admin") {%>
            <form action="/account-delete?userId=<%=user._id%>" method="post">
                <div class="form-group">
                    <button class="btn btn-md btn-outline-light" name="delete" type="submit">Delete</button>
                </div>
            </form>
            <% } %>
        </div>
    </div>
</div>

<%- include("partials/footer"); -%>
