<%- include("partials/header"); -%>
<%- include("partials/navigation-" + role); -%>

<h1 class="pb-4">All books</h1>

<div class="container p-3 my-3 bg-dark text-white">
    <div class="row">
        <% books.forEach(function(book, index){ %>
                <div class="col-sm-4">
                    <a href="/book-info?bookId=<%= book._id %>" class="col text-left category__link">
                        <div class="pt-1"><%= book.title %></div>
                        <div class="pt-1"><%= book.author %></div>
                        <div class="pt-1">Borrowed:<%= book.isReturned %></div>
                    </a>
                </div>
        <% }); %>

    </div>
</div>



<%- include("partials/footer"); -%>