<%- include("partials/header"); -%>
<%- include("partials/navigation-" + role); -%>

<div class="jumbotron jumbotron2 mb-0">

<h2 class="heading text-light text-center display-4 "><%=book.title%></h2>

<div class="jumbotron2-inner mx-auto w-50">
    <div class="row">
        <h3 class="table-item mb-0 bg-dark-brown text-light col-4">Author</h3>
        <h4 class="table-item mb-0 bg-light-brown col-8"><%=book.author%></h4>
    </div>
    <div class="row">
        <h3 class="table-item mt-0 mb-0 bg-dark-brown text-light col-4">ISBN</h3>
        <h4 class="table-item mt-0 mb-0 bg-light-brown col-8"><%=book.isbn%></h4>
    </div>
    <div class="row">
        <h3 class="table-item mt-0 mb-0 bg-dark-brown text-light col-4">Owner's Telegram</h3>
        <h4 class="table-item mt-0 mb-0 bg-light-brown col-8"><%=book.telegram%></h4>
    </div>
    <div class="row">
        <h3 class="table-item mt-0 bg-dark-brown text-light col-4">Available?</h3>
        <h4 class="table-item mt-0 bg-light-brown col-8"><%=book.isReturned%></h4>
    </div><br />
    <form class="text-center mt-5" action="/borrow?bookId=<%=book._id%>" method="post">
        <button class="btn btn-lg btn-outline-light" name="borrow" type="submit">Borrow Book</button>
    </form>
</div>
</div>

<%- include("partials/footer"); -%>
