<%- include("partials/header"); -%>
<%- include("partials/navigation-" + role); -%>

<div class="bg-green p-4">
    <form action="/search" method="post">
        <div class="row input-group w-75 pl-5 pr-5 mx-auto">
            <input class="col-10 form-control" name="keyword" type="text"/>
            <button class="col-2 btn btn-outline-light" name="submit" type="submit">Search</button>
        </div>
    </form>
</div>

<div class="white-container">
    <% if (results.length === 0) { %>
        <div class="text-center p-5">
            <h3>No results found.</h3>
            <h4>Please try again.</h4>
        </div>
    <% } else { %>
        <div class="mx-auto w-75 p-5 ">
            <% for (var i = 0; i < results.length; i++) { %>
                <% var book = results[i]; %>
                <div class="table-row">
                    <a href="/book-info?bookId=<%= book._id %>"><h4><%= book.title %></h4></a>
                    <h4>by <%= book.author %></h4>
                    <h4>ISBN: <%= book.isbn %></h4>
                </div>
                <hr />
            <% } %>
        </div>
    <% } %>
</div>

<%- include("partials/footer"); -%>
