<%- include("partials/header"); -%>
<%- include("partials/navigation-patron"); -%>

<div class="jumbotron jumbotron2">
<div class="dark-container">
<h2 class="text-center text-light display-4 pt-3">Transactions</h2>

<div class="mx-auto w-75">
   <div>
        <% if(results.length === 0) { %>
            <div class="text-center">
                <h3>No transactions found.</h3>
            </div>
        <% } else {%>
        <% for(var i = 0; i < results.length; i++){ %>
        <%      var transaction = results[i];    %>
                <div class="row">
                    <div class="col-6">
                        <h4><%=transaction.book.title%></h4>
                        <h4>by <%=transaction.book.author%></h4>
                        <h4>ISBN: <%=transaction.book.isbn%></h4>
                    </div>
                    <div class="col-6">
                    <h4>Borrowed: <%=transaction.borrowDate%></h4><br />
                <% if(transaction.isReturned === false) {  %>
                        <form action="/return-book?transactionId=<%=transaction._id%>" method="post">
                            <button class="btn btn-outline-light" type="submit">Return Now</button>
                        </form>
                <% } else { %>
                    <h4>Returned: <%=transaction.returnDate%></h4>
                <% } %>
                    </div>
                </div>
                <hr/>
        <% }} %>
    </div>
</div>
</div>
</div>

<%- include("partials/footer"); -%>