<%- include("partials/header"); -%>
<%- include("partials/navigation-" + role); -%>

<div class="bg-green p-4">
    <form action="/users" method="post">
        <div class="row input-group w-75 pl-5 pr-5 mx-auto">
            <input class="col-10 form-control" name="keyword" type="text"/>
            <button class="col-2 btn btn-outline-light" name="submit" type="submit">Search</button>
        </div>
    </form>
</div>

<div class="white-container">
    <% if(results.length === 0) { %>
        <div class="mx-auto w-75 p-5">
            <h3>No results found.</h3>
            <h4>Please try again.</h4>
        </div>
    <% } else {%>
            <% for(var i = 0; i < results.length; i++){ %>
            <%  var user = results[i];    %>
                <div class="row mx-auto w-75 p-5">
                    <div class="col-7">
                        <h4>Name: <%=user.firstName%> <%=user.lastName%></h4>
                        <h4>Telegram: <%=user.telegram%></h4>
                        <h4 name="keyword">Username: <%=user.username%></h4>
                        <h4>Password: <%=user.password%></h4>
                        <h4>Role: <%=user.role %></h4>
                    </div>
                    <div class="col-4">
                        <% if(role === "admin"){ %>
                        <a class="btn btn-lg btn-outline-dark" href="/account-info?userId=<%=user._id%>">Edit User Info</a>
                        <% } %>
                    </div>
                </div>
                <hr /> 
            <% } %>   
    <% } %>
</div>

<%- include("partials/footer"); -%>